@using PagedList.Mvc
@using PagedList
@model PagedList.IPagedList<DateExample.DataModel.Student>

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Index</h2>
    <p>
        @Html.ActionLink("Create New", "Create", new { @class = "btn btn-primary" })
    </p>
    @using (Html.BeginForm("Index", "Students", FormMethod.Get, new { @class= "form-inline" }))
    {
        @Html.Label("search", "Search by Name or Surname: ", new { @class="control-label"})
        @Html.TextBox("search", ViewBag.CurrentSearch as string, new { @class = "form-control" })
        <input type="submit" value="Search" class="btn btn-default"/>
    }
    <table class="table table-hover table-condensed small">
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Firstname)*@
                @Html.ActionLink("First Name", "Index", new { sort = ViewBag.FnameSort, search = ViewBag.CurrentSearch})
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Surname)*@
                @Html.ActionLink("Surname", "Index", new { sort = ViewBag.SnameSort, search = ViewBag.CurrentSearch})
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.StudentNumber }, new { @class = "btn btn-primary btn-xs" })
                @Html.ActionLink("Details", "Details", new { id=item.StudentNumber }, new { @class = "btn btn-primary btn-xs" })
                @Html.ActionLink("Delete", "Delete", new { id=item.StudentNumber }, new { @class = "btn btn-danger btn-xs" })
            </td>
        </tr>
    }
    
    </table>
    <div class="page-count">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    </div>
    <div class="pagination">
        @Html.PagedListPager(Model, page => Url.Action("Index",
       new { page, sort = ViewBag.CurrentSort, search = ViewBag.CurrentSearch}))
    </div>
</body>
</html>
